.hdr_font_1 {
    padding-top: 40px;
    
}


/* .ul_1{
    padding-left: 70%;
} */
/* .link_1 {
    padding-left: 75%;
} */
.hdr_font_2 {

    padding-top: 150px;
}
.hdr_info_2 { 
    font-family: 'Poppins',sans-serif;
    font-weight: 40px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    top: -40px;
    
}
/* .header_font{
    margin-top: ;
} */
