.btn_1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    outline: 0;
    /* background-color: #ffe6e6; */
    border: none;
    width: 20%;
    height: 2cm;
    /* padding: 14px 28px; */
    border-radius: 30px;
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
 }   


  /* .button_1 {
     size: 24px;
 } 
  */
 .btn_1:hover {
     transform: translate(-1px, -1px);
     cursor: pointer;
    }

 /* .btn:hover:after {
    transform: translate(6px, 6px);
}

.btn:hover:before {
    transform: translate(12px, 12px);
}
      */
    